name: Deploy Images to GHCR
permissions:
  contents: read
  packages: write
on:
  push:
    branches:
      - "*"
  workflow_dispatch:

jobs:
      push-store-image:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: '.'
        steps:
          - name: 'Extract branch name'
            shell: bash
            run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
            id: extract_branch

          - name: 'Checkout GitHub Action'
            uses: actions/checkout@main

          - name: 'Login to GitHub Container Registry'
            uses: docker/login-action@v1
            with:
              registry: ghcr.io
              username: ${{github.actor}}
              password: ${{secrets.GITHUB_TOKEN}}

          - name: 'Build Master Inventory Image'
            if: ${{steps.extract_branch.outputs.branch == 'master'}}
            run: |
              docker build . --tag ghcr.io/botond24/crafty-proxy:latest
              docker push ghcr.io/botond24/crafty-proxy:latest

          - name: 'Build Other Inventory Image'
            if: ${{steps.extract_branch.outputs.branch != 'master'}}
            run: |
              docker build . --tag ghcr.io/botond24/crafty-proxy:${{steps.extract_branch.outputs.branch}}
              docker push ghcr.io/botond24/crafty-proxy:${{steps.extract_branch.outputs.branch}}
